.Navigation {
  position: relative;
  font-size: 3rem;
}

.NavContainer {
  display: flex;
  align-items: center;
  .Link {
    position: relative;
    display: flex;
    font-size: 5rem;
    padding-bottom: 3rem;
  }
}

.TopNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  top: 10px;
  h2 {
    text-transform: none;
    cursor: pointer;
  }
}
